* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom right;
    transform: translateX(3px) translateY(-200px) rotate(-3deg);
}

.header-container {
    display: flex;
    transform: translateY(200px) rotate(3deg);
    animation-name: appear;
    animation-duration: 1300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes appear {
    0% {
        transform: translateY(-100%) rotate(3deg);
        opacity: 0;
    }
    50% {
        transform: translateY(-50%) rotate(3deg);
        opacity: 0.5;
    }
    100% {
        transform: translateY(50%) rotate(3deg);
        opacity: 1;
    }
}

.header-image-placeholder {
    width: 450px;
    height: 450px;
    background: url("Images/Profile.jpg");
    background-size: cover;
    background-position: center;
}

.header-image-footer {
    position: relative;
    top: 85%;
    color: white;
    font-size: 1.9rem;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
}

.header-info {
    background-color: white;
    margin: 80px 0;
    padding: 10px;
    max-width: 400px;
    box-shadow: 2px 3px 6px;
}

.header-about {
    padding: 10px;
    font-size: 2rem;
}

.header-text {
    font-size: 1.1rem;
}

.header-icons {
    display: flex;
    justify-content: end;
    padding: 5px 0;
}

.header-icons i {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.projects {
    padding: 50px;
}

.projects-header {
    font-size: 2.1rem;
    padding: 50px;
    font-weight: bold;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 4fr));
    gap: 16px;
}

.project-item {
    max-width: 640px;
    box-shadow: 1px 2px 3px;
    transition: transform 2s linear;
    background-color: lightgray;
}

.project-item:hover {
    transform: scale(1.2);
}

.project-row {
    display: flex;
    flex-direction: row;
}

.project-icons {
    display: flex;
    justify-content: end;
}

.project-item-header {
    flex: 1;
    font-size: 1.3rem;
    padding-left: 10px;
}

.project-icons i {
    font-size: 1.6rem;
    padding-right: 10px;
}

.project-description {
    text-align: justify;
    font-size: 1.1rem;
    padding: 10px;
    font-style: italic;
}

.project-item img {
    object-fit: cover;
    width: 100%;
}

.footer {
    background-color: cornflowerblue;
    padding: 50px;
    display: flex;
    color: white;
}

.footer-info-container {
    flex: 1;
}

.footer-info-header {
    font-size: 2.5rem;
    font-weight: bold;
}

.icon-placeholder {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.footer-row {
    display: flex;
}

.icon-placeholder img {
    width: 100%;
    height: 100%;
}

.footer-text {
    font-size: 1.3rem;
}

.contact-text {
    padding: 10px 0;
    font-size: 1.3rem;
}

.footer-icons {
    display: flex;
    margin-top: 10px;
}

.footer-icons i {
    font-size: 3rem;
}